<%- include("partials/header"); -%>
<form action="/posts" method="post">
  <h1><%=title%></h1>
  <p><%=content%></p>
 
    <input type="submit" name="deleteMe" value="delete">
  </form>

<%- include("partials/footer"); -%>
      